.editor-container {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

.image-section,
.plot-section {
  width: 50%;
}

.image-preview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.editor-canvas {
  border: 1px solid #ccc;
  width: 100%;
  height: auto;
  max-width: 600px;
}

.original-image {
  max-width: 50%;
  height: auto;
  display: block;
  margin: 10px auto;
  border: 1px dashed #ccc;
  display: none;
}

.apply-button {
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.apply-button:hover {
  background-color: #0056b3;
}


.editor-image {
  max-width: 100%;
  border: 2px solid #ccc;
  border-radius: 8px;
}

.plot-placeholder {
  width: 100%;
  max-width: 600px;
  min-width: 300px;
  height: 300px;
  background-color: #f4f4f4;
  border: 2px dashed #aaa;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  color: #666;
}

.red-channel,
.green-channel,
.blue-channel {
    background-color: #f4f4f4;
    border: 2px solid #ccc;
    border-radius: 8px;
    align-items: start;
    justify-content: space-between;
}

/* Common row layout */
.first-row,
.second-row,
.third-row {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

/* Let sliders expand */
input[type="range"] {
  flex-grow: 1;
  min-width: 100px;
}

/* Keep number inputs narrow */
input[type="number"] {
  width: 60px;
}

/* Optional: label spacing */
label {
  min-width: 50px;
}

/* adding interactivity in the buttons */

