.edit-profile-container {
    max-width: 400px;
    margin: 4rem auto;
    padding: 2rem;
    background-color: #ffff;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.edit-profile-form {
    display: flex;
    flex-direction: column;
}

.edit-profile-form input {
    padding: 0.7rem;
    margin-bottom: 1.2rem;
    border: 1px solid #cccc;
    border-radius: 6px;
    font-size: 1rem;
}

.edit-profile-form button {
    background-color: #0077cc;
    color: white;
    padding: 0.7rem;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
}

.edit-profile-form button:hover {
    background-color: #005fa3;
}